html,
body {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Tamil MN - Regular',Arial,sans-serif;
    webkit-tap-highlight-color: #222;
}

a {
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-decoration: none;
}
a:hover,
a:focus {
    color: black;
    text-decoration: none;
}

a.get-started {
    color: #000;
	font-size: 20px;
	padding: 20px 30px;
    text-decoration: none;
	border-radius: 5px;
    background-color: #FFD5D5;
    font-family: 'Tamil MN - Regular',Arial,sans-serif;
}
a.get-started:hover, a.get-started:focus {
	color: #fff;
	background-color: grey;
}

.h1,.h3 {
    font-family: 'Tamil MN - Regular',Arial,sans-serif;
}

::-moz-selection, ::selection {
    color: #fff;
    text-shadow: none;
    background: #222;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    max-height: 100px;
}

section {
    width: 100%;
}

section#landing {
    height: 100%;
    color: #fff;
    text-align: center;
	padding-top: 100px;
    background-image: url(../img/landing-bg.jpeg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#tests-landing {
	background-image: url(../img/tests.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

section#about {
	color: #000;
	background-color: rgba(255, 213, 213, 0.3);
	background-image: linear-gradient(to bottom, rgba(255, 213, 213, 1), transparent);
}
section#about #info .h1 {
	text-align: justify;
	font-family: "Hiragino Mincho ProN - W3";
}

section#services {
	background-image: linear-gradient(to bottom, rgba(255, 213, 213, 0.3), white, white);
}
section#services .container {
	border-radius: 10px;
	box-shadow: 0 5px 5px #aaaaaa;
}
section#services .services-image {
	display: flex;
    width: 141px;
    height: 141px;
	align-items: center;
    margin: 0 auto 40px auto;
    transform: rotate(45deg);
    box-shadow: 1px 1px 3px #aaaaaa;
    background-color: #fff;
}
section#services img {
	width: 100px;
	height: 100px;
	margin: auto;
	transform: rotate(-45deg);
}
section#services .services-box {
	text-align: center;
    margin: 0px auto;
    max-width: 400px;
}

section#services-links img {
	width: 100%;
}

section#whw {
	background-image: radial-gradient(#d5fdff, white);
}
section#whw .h1 {
	margin: 0;
	line-height: 1;
	font-family: "Hiragino Mincho ProN - W3";
}
section#whw .h3 {
	margin: 0;
	width: 100%;
	font-family: "Hiragino Mincho ProN - W3";
}
section#whw p {
	font-family: "Helvetica Neue - Regular";
}

section#appointment {
	color: #fff;
	display: flex;
	justify-content: center;
	font-weight: bold;
	background-image: linear-gradient(to right, #6C63FF, #FFD5D5);
}
section#appointment .container {
	width: 90%;
	display: flex;
	line-height: 2;
	align-items: center;
	text-align: right;
}
section#appointment .h1 {
	padding: 0 2%;
	text-align: left;
	font-weight: bold;
	font-family: "Gill sans - semibold";
}
section#appointment a.button {
	border-radius: 5px;
	background-color: #000;
	font-family: "Tamil MN - Bold";
}
section#appointment a.button:hover {
	background-color: grey;
}

/* Page 2 */
section#tests-landing {
    height: 100%;
}

section#psychometric-about {
	text-align: center;
	font-family: "Helvetica Neue - Regular";
}
section#psychometric-about .h1 {
	font-family: "Hiragino Mincho ProN - W3";
}
section#psychometric-about .h3 {
	font-family: "Helvetica Neue - Regular";
}

section#admissions-about {
	text-align: center;
}
section#admissions-about ul {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
    font-family: "Hiragino Mincho ProN - W6";
}

section#contact iframe {
	width: 100%;
}

#footer {
	background-color: #7082d5;
	color: #fff;
}
#footer hr {
	border-color: blue;
}
#footer .h1{
	font-family: "Hiragino Mincho ProN - W3";
}
#footer ul {
	padding: 0;
	font-family: "Tamil MN - Regular";
	list-style-type: none;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

#map {
  height: 300px;
}


@media(min-width:768px) {
	nav#mainNav.scrolled {
		background-color: #000;
		transition: background-color 200ms linear;
	}
    nav#mainNav {
		padding: 20px 50px;
		color: #fff;
	}

    nav#mainNav ul {
        width: 100%;
    }
    nav#mainNav li {
        padding: 0 20px;
    }
	nav#mainNav .button {
	    float: right;
	}	
    nav#mainNav .button > a {
        background-color: rgb(192,192,192,0.6);
    }
    nav#mainNav .button > a:focus, nav#mainNav .button > a:hover {
        background-color: rgb(255,255,255,1);
    }

    nav#secondaryNav {
        display: flex;
        justify-content: space-between;
    }
    nav#secondaryNav li {
        padding: 0 10px;
    }
    
    section#landing .h1 {
        font-size: 140px;
    }
    section#landing hr {
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
        border-color: #fff;
        border-width: 5px;
    }
	
    div#quote {
    	font-family: "Tamil MN - Bold",Arial,sans-serif;
    	bottom: 0;
        font-size: 30px;
		margin-top: 150px;
    }
    div#quote hr {
        width: 10%;
        margin-bottom: 20px;
    }
    div#quote h3 {
        font-weight: 700;
        font-size: 40px;
    }
    div#quote p {
        font-size: 30px;
    }
	
	section#about {
		padding-bottom: 100px;
	}
	section#about .container {
		width: 90%;
		padding: 100px 0 0 0;
	}
	section#about img {
		position: relative;
		width: 400px;
		z-index: 10;
	}
	section#about .row {
		margin: 0;
		padding: 0;
	}
	section#about #info {
		text-align: justify;
		margin: 50px 0 0 -10%;
		padding: 0 0 20px 10%;
		background-color: #fff;
	}
	section#about #info .h1 {
		font-size: 120px;
	}
	section#about #info p {
		padding: 0 10px;
	}
	section#about #desc {
		margin: 10px 0px;
	}
	section#about #desc .col-md-6:first-child {
		padding-left: 0;
		border-right: solid #000;
	}

    section#services {
	    padding-top: 50px;
    }
	section#services .container {
		width: 90%;
	}

	section#services-links {
		margin-top: 100px;
		margin-bottom: 50px;
	}
    section#services-links .row {
    	display: flex;
    }
    section#services-links .link {
        margin: auto 0;
        padding: 0 50px;
    }
    section#services-links p {
    	margin-top: 30px;
    	margin-bottom: 50px;
	}
    section#services-links a.get-started {
		margin-top: 50px;
		padding: 15px 30px;
	}

    section#whw .row {
    	margin: 100px 0;
    }
	section#whw .col-md-7 {
	    padding: 20px;
	}
	section#whw .h1 {
		font-size: 150px;
	}
	section#whw .h3 {
		font-size: 35px;
	}
	section#whw p {
		font-size: 20px;
	}

	section#howitworks {
		margin-top: 100px;
	}
	section#howitworks img {
		width: 100%;
	}

    section#appointment {
    	margin: 100px 0;
    	padding: 20px 0;
    }
	section#appointment .h1 {
        font-size: 50px;
		line-height: 1.5;
	}
	section#appointment a.button {
		font-size: 30px;
		padding: 15px 25px;
	}
    
    /* Page 2 */
    section#psychometric-about {
		padding-top: 50px;
		background-image: linear-gradient(to bottom, rgba(214, 253, 255, 0.6), white);
	}
    section#psychometric-about .h1 {
    	font-size: 50px;
    }
    section#psychometric-about p:first-child {
        margin-left: 150px;
        margin-right: 150px;
    }
    section#psychometric-about .h3 {
    	margin-top: 50px;
    	font-size: 40px;
    }
    section#psychometric-about p {
    	font-size: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

	section#admissions-about {
		margin-top: 50px;
	}
	section#admissions-about .h1 {
    	font-size: 50px;
	}
	section#admissions-about p {
    	font-size: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
	}
	section#admissions-about .h3 {
    	margin-top: 50px;
    	font-size: 40px;
	}
	section#admissions-about ul {
    	margin-top: 30px;
    	margin-bottom: 50px;
    	font-size: 30px;
	}

    #footer {
    	padding: 20px 0;
    }
    #footer hr {
    	margin: 10px 0;
    	width: 40%;
    }
    #footer ul {
    	font-size: 20px;
    }
    #footer .h1{
    	font-size: 30px;
    }
	#footer img {
		margin: 30px 0;
		width: 200px;
	}
	#footer #map {
		margin-top: 50px;
	}
}
